 @font-face {
     font-family: "Open Sans Condensed";
     src: url("../font/OpenSansCondensed-Light.ttf");
 }

 @font-face {
     font-family: "Open Sans Condensed-Bold";
     src: url("../font/OpenSansCondensed-Bold.ttf");
 }

 @font-face {
     font-family: "Open Sans Condensed-Italics";
     src: url("../font/OpenSansCondensed-LightItalic.ttf");
 }